# Habilita o conjunto de certificados do ESP-IDF para verificar o servidor TLS.
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y
CONFIG_EXAMPLE_CONNECT_WIFI=y
CONFIG_EXAMPLE_WIFI_SSID="Wokwi-GUEST"
CONFIG_EXAMPLE_WIFI_PASSWORD=""
CONFIG_EXAMPLE_WIFI_CONN_MAX_RETRY=-1
CONFIG_EXAMPLE_CONNECT_IPV6=n
CONFIG_EXAMPLE_CERT_VALIDATE_BUNDLE=y
CONFIG_EXAMPLE_MQTT_BROKER_URI="mqtts://test.mosquitto.org:8886"
